.v3d-page *,
.v3d-page *:before,
.v3d-page *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.v3d-page {
    line-height: 1.1;
    letter-spacing: -0.01em;
    text-align: center;
    color: #282828;

    img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .v3d-section {
        margin-bottom: 120px;

        @media (max-width: 1439.98px) {
            margin-bottom: 80px;
        }
    }

    .v3d-container {
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;

        @media (max-width: 1919.98px) {
            padding: 0 60px;
        }

        @media (max-width: 1439.98px) {
            padding: 0 56px;
        }

        @media (max-width: 1239.98px) {
            padding: 0 34px;
        }

        @media (max-width: 767.98px) {
            padding: 0 20px;
        }
    }

    .h2 {
        font-family: "ALS Hauss VF", sans-serif;
        font-weight: 400;
        font-size: 44px;

        line-height: 1.1;
        text-align: center;
        margin-bottom: 40px;

        @media (max-width: 1919.98px) {
            font-size: 42px;
        }

        @media (max-width: 1439.98px) {
            font-size: 36px;
        }

        @media (max-width: 767.98px) {
            &:has(+ .v3d-container__subtitle) {
                margin-bottom: 24px;
            }
        }
    }

    .v3d-container__subtitle {
        display: none;

        @media (max-width: 767.98px) {
            display: block;
            margin-bottom: 24px;

            font-weight: 400;
            font-size: 18px;

            line-height: 1.2;
            letter-spacing: -0.01em;
            text-align: center;
        }
    }

    .v3d-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px;
    }
}

// ----------------- ПЕРВАЯ СЕКЦИЯ START------------------//
.v3d-hero {
    background: #f7f7f7;
    padding-block: 40px 80px;

    @media (max-width: 1919.98px) {
        padding-block: 40px 40px;
    }

    @media (max-width: 1439.98px) {
        padding-block: 48px 80px;
    }

    @media (max-width: 1239.98px) {
        padding-block: 0px 40px;
    }

    .v3d-hero__grid {
        @media (max-width: 1239.98px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }

    .v3d-hero__h1 {
        font-family: "ALS Hauss VF", sans-serif;
        font-weight: 400;
        font-size: 48px;
        margin-bottom: 24px;

        @media (max-width: 1919.98px) {
            font-size: 44px;
        }

        @media (max-width: 1439.98px) {
            font-size: 40px;
        }

        @media (max-width: 767.98px) {
            font-size: 38px;
        }
    }

    .v3d-hero__subtitle {
        font-family: "ALS Hauss VF", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.2;

        @media (max-width: 1919.98px) {
            font-size: 18px;
        }

        @media (max-width: 1439.98px) {
            font-size: 16px;
        }

        @media (max-width: 1239.98px) {
            font-size: 15px;
        }

        @media (max-width: 767.98px) {
            font-size: 14px;
        }
    }

    .v3d-hero__content {
        grid-column: 2/6;
        display: flex;
        flex-direction: column;
        text-align: left;
        row-gap: 40px;

        @media (max-width: 1919.98px) {
            grid-column: 1/7;
        }

        @media (max-width: 1239.98px) {
            grid-column: -1/1;
            grid-row: 2;
        }
    }

    .v3d-hero__image-wrapper {
        grid-column: 7/12;
        align-content: center;

        @media (max-width: 1919.98px) {
            grid-column: 7/13;
        }

        @media (max-width: 1239.98px) {
            grid-column: -1/1;
            grid-row: 1;
        }
    }

    .v3d-hero__benefits {
        display: grid;
        row-gap: 10px;
    }

    .v3d-hero__benefit-item {
        border-radius: 12px;
        padding: 16px;
        background: #fff;
        display: grid;
        align-items: center;
        grid-template-columns: 24px 1fr;
        column-gap: 12px;
    }

    .v3d-hero__benefit-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;

        span {
            font-weight: bold;
        }
    }

    .v3d-hero__btn {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.11111;

        text-align: center;
        display: inline-block;
        border-radius: 8px;
        padding: 16px 55px;
        color: #fff;
        background: #282828;
        text-decoration: none;
        max-width: max-content;

        @media (max-width: 767.98px) {
            max-width: 100%;
            font-size: 17px;
        }
    }
}

// ----------------- ПЕРВАЯ СЕКЦИЯ END------------------//

// ----------------- ВТОРАЯ СЕКЦИЯ START------------------//
.v3d-features {
    .v3d-features__grid {
        grid-template-rows: auto;

        @media (max-width: 767.98px) {
            grid-template-columns: 1fr;
        }
    }

    .v3d-card {
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        @media (max-width: 767.98px) {
            display: grid;
            row-gap: 8px;
        }
    }

    .v3d-card__figure {
        display: grid;
    }

    .v3d-card:nth-child(1) {
        grid-column: 2/7;
        grid-row: 1;

        .v3d-card__content {
            max-width: 400px;
        }

        @media (max-width: 1919.98px) {
            grid-column: 1/7;
        }

        @media (max-width: 767.98px) {
            grid-column: -1/1;
            grid-row: 1;

            .v3d-card__content {
                max-width: 100%;
            }
        }
    }

    .v3d-card:nth-child(2) {
        grid-column: 7/12;
        grid-row: 1;

        .v3d-card__content {
            max-width: 400px;
        }

        @media (max-width: 1919.98px) {
            grid-column: 7/13;
        }

        @media (max-width: 767.98px) {
            grid-column: -1/1;
            grid-row: 2;

            .v3d-card__content {
                max-width: 100%;
            }
        }
    }

    .v3d-card:nth-child(3) {
        grid-column: 2/12;
        grid-row: 2;

        .v3d-card__content {
            max-width: 560px;
        }

        @media (max-width: 1919.98px) {
            grid-column: 1/13;
        }

        @media (max-width: 767.98px) {
            grid-column: -1/1;
            grid-row: 3;

            .v3d-card__content {
                max-width: 100%;
            }
        }
    }

    .v3d-card__content {
        position: absolute;
        left: 40px;
        bottom: 40px;
        z-index: 2;
        display: grid;
        row-gap: 8px;
        text-align: left;

        @media (max-width: 1239.98px) {
            left: 24px;
            bottom: 24px;
        }

        @media (max-width: 767.98px) {
            position: static;
            left: auto;
            bottom: auto;
        }

        .v3d-card__label {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.4;
            color: #4f4f4f;

            @media (max-width: 1239.98px) {
                font-size: 15px;
            }

            @media (max-width: 767.98px) {
                display: none;
            }
        }

        .v3d-card__title {
            font-weight: 400;
            font-size: 28px;

            @media (max-width: 1919.98px) {
                font-size: 26px;
            }

            @media (max-width: 1439.98px) {
                font-size: 22px;
            }

            @media (max-width: 1239.98px) {
                font-size: 20px;
            }

            @media (max-width: 767.98px) {
                font-size: 16px;
                text-align: center;
            }
        }
    }
}

// ----------------- ВТОРАЯ СЕКЦИЯ END------------------//

// ----------------- PRICING START------------------//
.v3d-pricing {
    .v3d-pricing__grid {
        margin-bottom: 40px;
    }

    .v3d-pricing-card {
        background: #f7f7f7;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        height: 100%;

        &--lite {
            grid-column: 1/5;
        }

        &--pro {
            grid-column: 5/9;
        }

        &--max {
            grid-column: 9/13;
        }

        &__top {
            display: grid;
            row-gap: 24px;
            padding: 32px;
        }

        &__header,
        &__price-block {
            display: grid;
            row-gap: 8px;
            text-align: left;
        }

        &__name {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.4;
            color: #d19a3a;
        }

        &__title {
            font-weight: 400;
            font-size: 24px;

            line-height: 1.25;
            color: #282828;
        }

        &__price {
            font-weight: 400;
            font-size: 40px;
        }

        &__price-note {
            font-weight: 300;
            font-size: 14px;

            line-height: 1.4;
        }

        &__body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 24px 32px;
        }

        &__features {
            display: grid;
            row-gap: 12px;
            text-align: left;
            margin-bottom: 24px;
        }

        &__feature {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.35;
            display: flex;
            align-items: flex-start;
            gap: 8px;

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                background-image: url(./images/icons/bullit.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }

        &__time {
            margin-top: auto;
            text-align: left;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.4;
        }

        &__footer {
            margin-top: auto;
            padding: 16px 32px 32px 32px;
        }

        &__button {
            text-align: center;
            display: inline-block;
            border-radius: 6px;
            padding-block: 13px;
            color: #fff;
            background: #282828;
            text-decoration: none;
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.125;
        }

        &__features-pro-label {
            display: flex;
            align-items: flex-start;
            gap: 8px;
            margin-bottom: 12px;

            font-weight: 500;
            font-size: 18px;
            line-height: 1.35;
            color: #c19041;

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                background-image: url(./images/icons/gold-bullit.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }

    // Слайдер
    .v3d-pricing-card__slider {
        position: relative;
        cursor: pointer;

        &__slide {

            aspect-ratio: 424 /281px;
        }

        .v3d-pricing-card__slider-prev,
        .v3d-pricing-card__slider-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            height: 32px;
            border-radius: 20px;
            backdrop-filter: blur(20px);
            background: rgba(0, 0, 0, 0.1);
            border: none;
            cursor: pointer;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;

            // Скрытие до ховера
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease-in-out;

            &::after {
                display: none !important;
                content: none !important;
            }
        }

        .v3d-pricing-card__slider-prev {
            left: 12px;
        }

        .v3d-pricing-card__slider-next {
            right: 12px;
        }

        svg {
            height: 16px;
            object-fit: contain;
            transform-origin: center;
            width: 100%;

            pointer-events: none;
        }

        &:hover {

            .v3d-pricing-card__slider-prev,
            .v3d-pricing-card__slider-next {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    &__badge {
        border-radius: 20px;
        padding: 20px 40px;
        background: #f7f7f7;
        display: flex;
        gap: 12px;
        position: relative;

        &::before {
            content: "";
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }


        &:first-child::before {
            background-image: url(./images/icons/gift-card.svg);
        }

        &:last-child::before {
            background-image: url(./images/icons/gift-card-2.svg);
        }

    }

    &__badge-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.35;
        text-align: center;

        strong {

            font-weight: bold;


        }
    }

}

// ----------------- PRICING END------------------//