.v3d-page *,
.v3d-page *:before,
.v3d-page *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.v3d-page {
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-align: center;
  color: #282828;
}
.v3d-page img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.v3d-page .v3d-section {
  margin-bottom: 120px;
}
.v3d-page .v3d-container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 1919.98px) {
  .v3d-page .v3d-container {
    padding: 0 60px;
  }
}
@media (max-width: 1439.98px) {
  .v3d-page .v3d-container {
    padding: 0 56px;
  }
}
@media (max-width: 1239.98px) {
  .v3d-page .v3d-container {
    padding: 0 34px;
  }
}
@media (max-width: 767.98px) {
  .v3d-page .v3d-container {
    padding: 0 20px;
  }
}
.v3d-page .v3d-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}
@media (max-width: 1239.98px) {
  .v3d-page .v3d-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.v3d-page .v3d-hero__h1 {
  font-family: "ALS Hauss VF", sans-serif;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 24px;
}
@media (max-width: 1919.98px) {
  .v3d-page .v3d-hero__h1 {
    font-size: 44px;
  }
}
@media (max-width: 1439.98px) {
  .v3d-page .v3d-hero__h1 {
    font-size: 40px;
  }
}
@media (max-width: 767.98px) {
  .v3d-page .v3d-hero__h1 {
    font-size: 38px;
  }
}
.v3d-page .v3d-hero {
  background: #f7f7f7;
  padding-block: 40px 80px;
}
@media (max-width: 1919.98px) {
  .v3d-page .v3d-hero {
    padding-block: 40px 40px;
  }
}
@media (max-width: 1439.98px) {
  .v3d-page .v3d-hero {
    padding-block: 48px 80px;
  }
}
@media (max-width: 1239.98px) {
  .v3d-page .v3d-hero {
    padding-block: 0px 40px;
  }
}
.v3d-page .v3d-hero__subtitle {
  font-family: "ALS Hauss VF", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}
@media (max-width: 1919.98px) {
  .v3d-page .v3d-hero__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 1439.98px) {
  .v3d-page .v3d-hero__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 1239.98px) {
  .v3d-page .v3d-hero__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 767.98px) {
  .v3d-page .v3d-hero__subtitle {
    font-size: 14px;
  }
}
.v3d-page .v3d-hero__content {
  grid-column: 2/6;
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 40px;
}
@media (max-width: 1919.98px) {
  .v3d-page .v3d-hero__content {
    grid-column: 1/7;
  }
}
@media (max-width: 1239.98px) {
  .v3d-page .v3d-hero__content {
    grid-column: -1/1;
    grid-row: 2;
  }
}
.v3d-page .v3d-hero__image-wrapper {
  grid-column: 7/12;
  align-content: center;
}
@media (max-width: 1919.98px) {
  .v3d-page .v3d-hero__image-wrapper {
    grid-column: 7/13;
  }
}
@media (max-width: 1239.98px) {
  .v3d-page .v3d-hero__image-wrapper {
    grid-column: -1/1;
    grid-row: 1;
  }
}
.v3d-page .v3d-hero__benefits {
  display: grid;
  row-gap: 10px;
}
.v3d-page .v3d-hero__benefit-item {
  border-radius: 12px;
  padding: 16px;
  background: #fff;
  display: grid;
  align-items: center;
  grid-template-columns: 24px 1fr;
  column-gap: 12px;
}
.v3d-page .v3d-hero__benefit-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
.v3d-page .v3d-hero__benefit-text span {
  font-weight: bold;
}
.v3d-page .v3d-hero__btn {
  display: inline-block;
  border-radius: 8px;
  padding: 16px 55px;
  color: #fff;
  background: #282828;
  text-decoration: none;
  max-width: max-content;
}
@media (max-width: 767.98px) {
  .v3d-page .v3d-hero__btn {
    text-align: center;
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */